[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "socp_mpc/socp_interface"]
	path = lib/socp_interface
	url = https://github.com/EmbersArc/socp_interface.git
[submodule "lib/external/CppAD"]
	path = lib/CppAD
	url = https://github.com/coin-or/CppAD.git
