[submodule "lib/fmt"]
	path = lib/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "socp_mpc/socp_interface"]
	path = socp_mpc/socp_interface
	url = https://github.com/EmbersArc/socp_interface.git
